{% include('base.html.twig')%}

{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
	{{ encore_entry_link_tags('main') }}
	{{ encore_entry_link_tags('media') }}
{% endblock %}

{%  block body %}

	{{include("partials/modal_langages.html.twig") }}
	{{include("partials/modal_login.html.twig") }}	

	<header>
		<div class="menu-header">
			<div class="logo"></div>
			<div class="spacer"></div>
			<div class="menu-top">
				<span id="anywhere" class="darkgray mt-3">
					<p>N'importe où</p>
				</span>
				<span id="duration" class="darkgray mt-3">
					<p>Une Semaine</p>
				</span>
				<span class="gray mt-3">
					<p>Ajouter une personne</p>
				</span>
				<span>
					<i class="btn-search fa-xs fa-solid fa-magnifying-glass"></i>
				</span>
			</div>
			<div class="sp-10"></div>
			<div class="menu-end">
				<div class="sp-10"></div>
				<span id="addcommerce" class="darkgray "></i>Mettre son commerce</span>
			<div id="global" data-toggle="modal" data-target="#myModal">
				<i class="fa-solid fa-globe"></i>
			</div>
			<div class="log" id="btnLogin" onclick="onShowMenuLogin()">
				<i class="fa-solid fa-bars"></i>
				&nbsp;<svg xmlns="http://www.w3.org/2000/svg" viewbox="-4 -3 36 36" aria-hidden="true" role="presentation" focusable="false" style="display: block; height: 100%; width: 100%; fill: currentcolor;">
					<path d="M16 .7C7.56.7.7 7.56.7 16S7.56 31.3 16 31.3 31.3 24.44 31.3 16 24.44.7 16 .7zm0 28c-4.02 0-7.6-1.88-9.93-4.81a12.43 12.43 0 0 1 6.45-4.4A6.5 6.5 0 0 1 9.5 14a6.5 6.5 0 0 1 13 0 6.51 6.51 0 0 1-3.02 5.5 12.42 12.42 0 0 1 6.45 4.4A12.67 12.67 0 0 1 16 28.7z"></path>
				</svg>
				<div class="menu-log collapse" >				
				</div>
			</div>
		</div>
	</div>
	<div class="sp-10"></div>

	<div class="slides"></div>
	<div class="menu-header2">
		<div class="menu-end">
			<span id="addcommerce2" class="darkgray "></i>Mettre son commerce</span>
		<div id="global2">
			<i class="fa-solid fa-globe"></i>
		</div>
		<div class="log">
			<i class="fa-solid fa-bars"></i>&nbsp;<svg xmlns="http://www.w3.org/2000/svg" viewbox="-4 -3 36 36" aria-hidden="true" role="presentation" focusable="false" style="display: block; height: 100%; width: 100%; fill: currentcolor;">
				<path d="M16 .7C7.56.7.7 7.56.7 16S7.56 31.3 16 31.3 31.3 24.44 31.3 16 24.44.7 16 .7zm0 28c-4.02 0-7.6-1.88-9.93-4.81a12.43 12.43 0 0 1 6.45-4.4A6.5 6.5 0 0 1 9.5 14a6.5 6.5 0 0 1 13 0 6.51 6.51 0 0 1-3.02 5.5 12.42 12.42 0 0 1 6.45 4.4A12.67 12.67 0 0 1 16 28.7z"></path>
			</svg>
		</div>
	</div>
	<div class="flex">
		<div class="header-expanded">
			<div>
				<i class="btn-search2 fa-xs fa-solid fa-magnifying-glass">
					<span class="font1">&nbsp;&nbsp;Rechercher</span>
				</i>
			</div>
		</div>
	</div>
	<div class="sp-10"></div>
</header>
<main>
	<div class="container">
	<div id="cards"></div>
</main>
{{include("partials/modal_register.html.twig") }}
{% endblock %}

{% block js %}
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
	<script src="{{asset('/build/js/panel.js')}}"></script>
	<script src="{{asset('/build/js/card.js')}}"></script>
	<script src="{{asset('/build/js/common.js')}}"></script>
	<script src="https://unpkg.com/imask"></script>
	
	<script>
		let auth={{ auth==1?1:0}};
		// Les modales
		let _modal_login=document.getElementById('modal-login');
		let myGlobal = new bootstrap.Modal(document.getElementById('modal-global'));
		let myLogin = new bootstrap.Modal(_modal_login);
		let myRegister = new bootstrap.Modal(document.getElementById('modal-register'));
		
		const btnLogin = document.getElementById("btnLogin");
		const menuLog = document.querySelector(".menu-log");

		const registerLog = document.getElementById("signup");
		const connectLogin = document.getElementById("connect");

		const btn_mail = document.querySelector("#mail");
		const btn_phone = document.querySelector("#phone");
		const input_tel = document.querySelector("#pan-tel");
		const input_mail = document.querySelector("#pan-mail");
		const input_birthday = document.querySelector("#registration_form_birthday");
		
        function onShowMenuLogin(){
			menuLog.classList.toggle('collapse');
			menuLog.classList.toggle('active');
		}

		function createMenuLogin(auth, elem) {
			if (auth==1) {
				elem.innerHTML = `
						<a href='/user/message/list' >Messages</a>
						<a href='/rent/list'>Locations</a>
						<a href='/favorites/list'>Favoris</a>
						<hr>
						<a href="/property/home">Mettre son bien sur Immo</a>
						<a href="/user/refer">Parrainer un hôte</a>
						<a href="/user/dashboard" id="account">Compte</a>
						<hr>
						<a href="/help">Centre d'aide</a>
						<a class="first link-login" href="/logout" id="disconnect" >Déconnexion</a>	`
			} else {
				elem.innerHTML = `
						<a class="first link-login" href="javascript:onAction('connect')" id="connect" >Connexion</a>
						<a href="javascript:onAction('signup')" id="signup" >Inscription</a>
						<a href="/property/home">Mettre son bien sur Immo</a>
						<hr>
						<a href="/help">Aide</a>`
			}
		}
				
		createMenuLogin(auth,menuLog);

		{# // Date de naissance
		const maskDateOptions = {
		mask: "0[0]-0[0]-0000",
		lazy: true,
		autofix: true,
		blocks: {
			d: {mask: IMask.MaskedRange, placeholderChar: 'd', from: 1, to: 31, maxLength: 2},
			m: {mask: IMask.MaskedRange, placeholderChar: 'm', from: 1, to: 12, maxLength: 2},
			Y: {mask: IMask.MaskedRange, placeholderChar: 'y', from: 1900, to: 2999, maxLength: 4}
			}
		};
		
		let mask = null;
		if (mask==null){			
			mask = IMask(input_birthday, maskDateOptions);			
		}
		 #}

		{# registerLog.addEventListener("click", () => {
			registerLog.classList.add('first');
			connectLogin.classList.remove('first');
			myRegister.show();
		});
#}	
		
 		{% if login == "show" %}
			myLogin.show();
		{% endif %}


		selectPanel(panels_sel);
		selectPanel(panels_fav, "selected");
		selectPanel2(panels_dev);

		cards.forEach((card) => {
			new CreateCard(card);
		});

		slides.forEach((card) => {
			new CreateCardSlide(card);
		});

		_global.addEventListener("click", () => {
			myGlobal.show();
		});

        function onAction(action){
			console.log(action);
			switch(action){ 	
				case 'connect':
					myLogin.show();
				break;
				case 'signup':
					myRegister.show();
				break;
			}
		}
		
		getCountry("{{ asset('build/data/country.json') }}").then((country) => {
				loadCountryOnlyToSelect("{{ asset('build/data/country.json') }}", country.name, "countrySelect",false);
				});
				
		alertVanish();
		onAction("mail");

	</script>
{% endblock %}