{% include('base.html.twig')%}

{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
	{{ encore_entry_link_tags('main') }}
	{{ encore_entry_link_tags('media') }}
{% endblock %}

{%  block body %}

	{{include("partials/modal_langages.html.twig") }}
	{{include("partials/modal_login.html.twig") }}
	<header>
		<div class="menu-log collapse">
			<a class="first" href="#">Inscription</a>
			<a class="link-login" href="#">Connexion</a>
			<a href="/property/add">Mettre son commerce sur Immo</a>
			<hr>
			<a href="/help">Aide</a>
		</div>
		<div class="menu-header">
			<div class="logo"></div>
			<div class="spacer"></div>
			<div class="menu-top">
				<span id="anywhere" class="darkgray mt-3">
					<p>N'importe où</p>
				</span>
				<span id="duration" class="darkgray mt-3">
					<p>Une Semaine</p>
				</span>
				<span class="gray mt-3">
					<p>Ajouter une personne</p>
				</span>
				<span>
					<i class="btn-search fa-xs fa-solid fa-magnifying-glass"></i>
				</span>
			</div>
			<div class="sp-10"></div>
			<div class="menu-end">
				<div class="sp-10"></div>
				<span id="addcommerce" class="darkgray "></i>Mettre son commerce</span>
			<div id="global" data-toggle="modal" data-target="#myModal">
				<i class="fa-solid fa-globe"></i>
			</div>
			<button class="log">
				<i class="fa-solid fa-bars"></i>
				&nbsp;<svg xmlns="http://www.w3.org/2000/svg" viewbox="-4 -3 36 36" aria-hidden="true" role="presentation" focusable="false" style="display: block; height: 100%; width: 100%; fill: currentcolor;">
					<path d="M16 .7C7.56.7.7 7.56.7 16S7.56 31.3 16 31.3 31.3 24.44 31.3 16 24.44.7 16 .7zm0 28c-4.02 0-7.6-1.88-9.93-4.81a12.43 12.43 0 0 1 6.45-4.4A6.5 6.5 0 0 1 9.5 14a6.5 6.5 0 0 1 13 0 6.51 6.51 0 0 1-3.02 5.5 12.42 12.42 0 0 1 6.45 4.4A12.67 12.67 0 0 1 16 28.7z"></path>
				</svg>
			</button>
		</div>
	</div>
	<div class="sp-10"></div>

	<div class="slides"></div>
	<div class="menu-header2">
		<div class="menu-end">
			<span id="addcommerce2" class="darkgray "></i>Mettre son commerce</span>
		<div id="global2">
			<i class="fa-solid fa-globe"></i>
		</div>
		<div class="log">
			<i class="fa-solid fa-bars"></i>&nbsp;<svg xmlns="http://www.w3.org/2000/svg" viewbox="-4 -3 36 36" aria-hidden="true" role="presentation" focusable="false" style="display: block; height: 100%; width: 100%; fill: currentcolor;">
				<path d="M16 .7C7.56.7.7 7.56.7 16S7.56 31.3 16 31.3 31.3 24.44 31.3 16 24.44.7 16 .7zm0 28c-4.02 0-7.6-1.88-9.93-4.81a12.43 12.43 0 0 1 6.45-4.4A6.5 6.5 0 0 1 9.5 14a6.5 6.5 0 0 1 13 0 6.51 6.51 0 0 1-3.02 5.5 12.42 12.42 0 0 1 6.45 4.4A12.67 12.67 0 0 1 16 28.7z"></path>
			</svg>
		</div>
	</div>
	<div class="flex">
		<div class="header-expanded">
			<div>
				<i class="btn-search2 fa-xs fa-solid fa-magnifying-glass">
					<span class="font1">&nbsp;&nbsp;Rechercher</span>
				</i>
			</div>
		</div>
	</div>
	<div class="sp-10"></div>
</header>
<main>
	<div class="container">
		<div id="cards"></div>
	</main>
{% endblock %}
{% block js %}
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
	<script src="{{asset('/build/js/panel.js')}}"></script>
	<script src="{{asset('/build/js/card.js')}}"></script>
	<script >

		let myModal = new bootstrap.Modal(document.getElementById('myModal'));
let myLogin = new bootstrap.Modal(document.getElementById('modal-login'));

let btnLog = document.querySelector('.log');
let menuLog = document.querySelector('.menu-log');
let linkLog = document.querySelector('.link-login');

const _mail= document.querySelector("#mail");
const _phone= document.querySelector("#phone");
const _pan_tel= document.querySelector("#pan-tel");
const _pan_mail= document.querySelector("#pan-mail");

btnLog.addEventListener("click", () => {
menuLog.classList.toggle('collapse');
});

linkLog.addEventListener("click", () => {
myLogin.show();
});{% if login == "show" %}myLogin.show();{% endif %}

selectPanel(panels_sel);
selectPanel(panels_fav, "selected");
selectPanel2(panels_dev);

cards.forEach((card) => {
new CreateCard(card);
});

slides.forEach((card) => {
new CreateCardSlide(card);
});


_global.addEventListener("click", () => {
myModal.show();
});

anywhere.addEventListener("click", () => {
console.log("You clicked");
});


async function getIp(){
	const ip=await fetchIPAddress();
	return ip;
}

getIp().then((data)=>{ console.log(data); });

fetchDataPhone('{{asset('build/data/phone.json')}}').then((data) => {
	if (data) {
        // Ici, vous pouvez utiliser les données JSON récupérées
        // Par exemple, vous pouvez créer et remplir le select avec ces données
        const selectElement = document.getElementById("countrySelect");

        data.forEach((country) => {
            const option = document.createElement("option");
            option.value = country.indicatif_telephonique;
            option.text = `${country.pays} +(${country.indicatif})`;
            selectElement.appendChild(option);
        });
    }
});

</script>
{% endblock %}
