<div class="modal modal-adapt" id="modal-global">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
					<span aria-hidden="true"></span>
				</button>
			</div>
			<div class="modal-body">
				<ul class="nav nav-tabs" role="tablist">
					<li class="nav-item" role="presentation">
						<a class="nav-link active" data-bs-toggle="tab" href="#langages" aria-selected="true" role="tab">Langues et Régions</a>
					</li>
					<li class="nav-item" role="presentation">
						<a class="nav-link" data-bs-toggle="tab" href="#devise" aria-selected="false" tabindex="-1" role="tab">Devise</a>
					</li>
				</ul>
				<div id="myTabContent" class="tab-content">
					<div class="tab-pane fade show active" id="langages" role="tabpanel">
						<h4 class="mt-4">Langues et régions suggérées</h4>
						<div class="d-flex w-100">
							{% for favorite in favorites %}
								<div class="panel_langue prefered">
									<div>{{favorite.country}}</div>
									<div class="gray ">{{favorite.name}}</div>
								</div>
							{% endfor %}
						</div>

						<h4 class="mt-3">Choisissez une langue et une région</h4>
						<div class="d-flex w-100 flex-wrap panel_content_langues" data-bs-spy="scroll">
							{% for langage in langages %}
								<div class="panel_langue choose">
									<div>{{langage.country}}</div>
									<div class="gray">{{langage.name}}</div>
								</div>
							{% endfor %}
						</div>
					</div>
					<div class="tab-pane fade" id="devise" role="tabpanel">
						<h4 class="mt-4 panel-devise">Choisissez une devise</h4>
						{% for devise in devises %}
							<div class="panel_langue devise">
								<div>{{devise.name}}</div>
								<div class="gray">{{devise.notation}}</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
