{% extends 'base.html.twig' %}

{% block title %}Ajouter un mode de versement - Titulaire du compte
{% endblock %}

{% block body %}
	<div id ="container" class="row container mx-auto">
		<div class="col-md-12">
			<section class="mx-auto mb-5">
				<a href="/user/dashboard">
					<strong>Compte</strong>
				</a>
				<span class="mt-3">&nbsp;> Configurer de versement</span>
				<h2 class="bold gray-2 mt-4 ">À qui appartient ce compte ?</h2>
				<div>Ceci est le nom qui sera associé à votre compte .</div>
			</section>
			<section>
				<label class="mt-2 bold">À qui appartient ce compte ?</label>
				<div class='col-md-12'>
					<div class='form-floating'>
						<select class="form-select">
							{% for key,account in accounts %}
								<option value='{{ key }}'>{{account }}</option>
							{% endfor %}
							<option value="0">Ajouter un compte</option>
						</select>
						<label>Sélectionnez le compte</label>
					</div>
				</div>
				<div>
					<div class="collapse" id="form-panel">
						{{ form_start(accountNameForm) }}
						<div class='row '>
							<div class='col-md-12'>
								<div class='form-floating'>
									{{ form_widget(accountNameForm.name) }}
									{{ form_errors(accountNameForm.name) }}
									{{ form_label(accountNameForm.name) }}
								</div>
							</div>
						</div>
					</div>
					<div>
						<hr>
						<button type='submit' class='float-end btn btn-dark p-3 mt-2 mb-4 px-4'>Continuer</button>
					</div>
					{{ form_end(accountNameForm) }}
				</section>
			</div>

		</div>
	{% endblock %}

	{% block js %}

		<script src="{{asset('/build/js/common.js')}}"></script>
		<script>

			let owner = document.querySelector('#account_name_form_name');
let panel = document.querySelector('#form-panel');
let selectAccount = document.querySelectorAll('.form-select')[0];
let btn = document.querySelector("button");

let text = selectAccount.options[0].text;
owner.value = text;

		selectAccount.addEventListener("change", (event) => {
		
			let text = selectAccount.options[selectAccount.selectedIndex].text;

			if (event.target.value == 0) {
				panel.classList.remove("collapse");
				owner.value = "";
				btn.disabled = true;
				owner.focus();
			} else {
				panel.classList.add("collapse");
				owner.value = text;
				btn.disabled = false;
			}
		});

		owner.addEventListener("input", (event) => {
			if (event.target.value.length === 0) {
				btn.disabled = true;
			} else {
				btn.disabled = false;
			}
		});
		</script>

	{% endblock %}
